    *{
/*        padding нет смысла выставлять, он у всех итак 0 по дефолту (вроде) */
        padding: 0;
/*        тоже самое и здесь, единственное только body имеет margin и все, так что стоит на него и перенести св-во. В react шаблоне проекта собственно так и сделано. */
        margin: 0;
        box-sizing: border-box;
/*      деволтный шрифт лучше выставлять через body, меньше гемора с specificity при переопределении, так он наследуется */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    body{
        background-color: #fafafa;
    }
    img{
        max-width: 100%;
        display: block;
    }
    a{
        text-decoration: unset;
    }
    h1{
/*        это относится к title, так что стоит перенести его туда */
        font-weight: 500;
        text-align: left;
    }
    .title{
/*        лучше юзать rem, это позволит играть с размерами всего интерфейса за счет изменения размера шрифта у body того же */
        margin: 30px;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards-section{
        width: 90%;
        height: 100%;   
    }

    .grid{
        display: grid;
/*        лучше юзать rem вместо px */
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
/*        Спорно использовать здесь align-items. Если только есть вероятность того, что высота карточек будет разная (а этого обычно избегают),
       тогда действительно высота строки будет равна максимальной высоте ее карточек, и в этом уже случаи потребуется align-items.
       Стоит кстати ограничить как-то высоту карточки, а именно ее внетренних элементов. С картинкой это просто фикс. размеры, а вот с текстом проблема... */
        align-items: center;
    }

    .flex{
        display: flex;
        flex-direction: row;
/*        стоило сделать space-between, выглядит лучше чем flex-start  */
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;
    }

    .card{
        width: 300px;
        background-color: #fff;
        padding: 20px;
        transition: box-shadow .4s;
    }

    .card h2{
        margin: 20px 0 0 0;
        font-size: 2em;
        font-weight: 500;
        color: #000;
    }
    .card h3{
/*        раз уж начал выставлять оступы сверху, то выставляй их везде сверху, будь последовательным. Так что стоило сделать отступ сверху у блока со звездачками. */
        margin: 20px 0;
/*        у em есть эффект каскадного увеличения, поэтому есть вероятность накосячить с размерами шрифта. Так что лучше юзать rem который опирается относительно root элемента */
        font-size: 1.5em; 
        font-weight: 500;
        color: #000;
    }

    .card p{
        font-size: 0.9em;
        font-style: italic;
        color: #6c757d;
        margin: 20px 0 0 0;
    }

    .card:hover{
        box-shadow: 10px 10px 29px -15px rgba(0,0,0,0.29);
    }
